.glass-message {
  position: fixed;
  top: 20px;
  right: -400px;
  background: rgba(255, 255, 255, 0.108);
  border: 1px solid rgba(255, 255, 255, 0.193);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  padding: 15px 25px 20px; 
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
  opacity: 0;
  overflow: hidden;
}

.glass-message.show {
  right: 20px;
  opacity: 1;
}

.glass-message p {
  margin: 0;
  color: #00ffcc;
  letter-spacing: 0.5px;
}
.glass-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: white;
  width: 0;
  border-radius: 0 0 10px 10px;
  animation: slide-progress 3s linear forwards;
}

@keyframes slide-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
