/* Center the register card on the page */
.register-container {
   width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

/* Glassmorphism style for the card */
.register-card-container {
   background: rgba(255, 255, 255, 0.08); /* translucent white layer */
  border: 1px solid rgba(255, 255, 255, 0.25); /* soft white border */
  border-radius: 16px;
  padding: 40px 30px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  backdrop-filter: blur(2px); /* frosted glass effect */
  box-shadow: 0 8px 32px rgba(122, 122, 122, 0.179); /* subtle shadow */
  color: #fff;
}


/* Form layout */
.register-card-container-form {
  display: flex;
  flex-direction: column;
}

/* Headings */
.register-card-container h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #ffffff;
}

/* Labels and inputs */
.register-card-container label {
  display: block;
  text-align: left;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.register-card-container input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
}


.register-card-container input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Register button */
.register-card-container button {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.register-card-container button:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.03);
}

/* Register link */
.register-card-container p {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

.register-card-container-form span {
  color: #00d4ff;
  cursor: pointer;
}

.register-card-container span:hover {
  text-decoration: underline;
}
